<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update a Recipe</title>
  </head>
  <body>
    <h1>Update Recipe:</h1>
    <form action="/recipes/<%=@recipe.id%>" method="post">
      <input type="hidden" name="_method" value="patch">
      <label for="name">Recipe Name:</label>
      <input type="text" name="name" id="name" value="<%=@recipe.name %>">

      <label for="ingredients">Ingredients:</label>
      <input type="text" name="ingredients" id="ingredients"value="<%=@recipe.ingredients %>">

      <label for="cook_time">Cook Time:</label>
      <input type="text" name="cook_time" id="cook_time" value="<%=@recipe.cook_time %>">

      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
