<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All your Recipes</title>
  </head>
  <body>
    <% if @recipes %>
      <h1>All your Recipes</h1>
      <% @recipes.each do |r| %>
        <p><%=r.name %><a href="/recipes/<%="#{r.id}"%>"> Show</a></p>
      <% end %>
    <% else %>
      <h1>No Recipes Yet</h1>
    <% end %>
    <a href="/recipes/new">Create a new Recipe</a>
  </body>
</html>
