<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>

    <h1>Welcome to your recipe keeper</h1>
    <a href="/recipes/new">Add new recipe here</a>

  </body>
</html>
