<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <h1>Create a New Recipe</h1>
  </head>
  <body>
    <form method="post" action="/recipes">
      <label for="name">Name of Recipe</label>
      <input type="text" name="name" id="name" value="">

      <label for="ingredients">Ingredients List</label>
      <input type="text" name="ingredients" id="ingredients" value="">

      <label for="cook_time">Time to Cook</label>
      <input type="integer" name="cook_time" id="cook_time" value="">

      <input type="submit" name="submit" value="submit">

    </form>
  </body>
</html>
