<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
  </head>
  <body>
    <p>Recipe Name: </p><%= @recipe.name %>
    <p>Ingredients: </p><%= @recipe.ingredients %>
    <p>Cook Time: </p><%= @recipe.cook_time %>

    <form action="/recipes/<%="#{@recipe.id}"%>" method="post">
      <input type="hidden" name="_method" id="hidden" value="delete">
      <input type="submit" name="delete" id="delete" value="delete">
    </form>
    <a href="/">View All Recipes</a>
  </body>
</html>
